#hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: flex-start;
  padding: 0 30px;
  background: #efe7ec;
  background-image: url("/portfolio/image/photo.jpg");
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
}
#hero > h1 {
  font-size: 28px;
  line-height: 1.3;
  /* letter-spacing: 5px; */
  font-weight: 700;
  font-family: "playfair Display";
  margin-bottom: 20px;
}
#hero > p {
  font-family: "Quicksand";
  font-weight: 300px;
  line-height: 1.5;
  margin-bottom: 30px;
}

#hero > button {
  font-weight: normal;
  background-color: transparent;
  padding: 10px 15px;
  width: 300px;
  border: 1px solid black;

  border-radius: 2px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#hero > button > i {
  font-size: 15px;
}
