.sidebar_hamburger {
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px, 15px;
  font-size: 25px;
  cursor: pointer;
  z-index: 50;
  transition-duration: 500ms;
}
.sidebar_hamburger_translate {
  transform: translate(300px);
}
.sidebar_content {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  background: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px, 20px;
  z-index: 20;
  transform: translate(-300px);
  transition-duration: 500ms;
}
.sidebar_hamburger_translate + .sidebar_content {
  transform: translate(0px);
}
.sidebar_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar_list > li {
  margin-bottom: 20px;
}
